<script src="https://unpkg.com/wavesurfer.js"></script>

<div id="file-explorer" style="overflow: auto; height: 300px; border: 1px solid #000;"></div>
<div id="dir" style="font-weight: bold; font-size: 20px; margin-top: 10px; margin-bottom: 10px;">current dir:</div>
<span id="title" style="display: flex;">
    <div id="time" style="border: 5px; width:30ch;">current time 0.000s / 0.000s</div>
    <button onclick="playstop(-1)" style="margin: 5px;">play/stop</button>
    <button onclick="parseall()" style="margin: 5px;">parse all</button>
</span>
<div id="waveforms"></div>
<script>
    wavesurfers = [];

    function loadAudioTracks(audioFiles) {
        audioFiles.forEach((audioFile, index) => {
            const audioTrack = document.createElement('span');
            // file name
            audioName = document.createElement('Text');
            // remove first '/'
            audioName.innerHTML = audioFile.substring(audioFile.indexOf('/') + 1);
            // audioName.style.fontSize = '10px';
            audioName.style.width = '200px';
            audioName.style.wordWrap = 'break-word';
            // center the text
            audioName.style.textAlign = 'center';
            audioName.style.display = 'inline-block';
            audioName.style.border = '1px solid #000';
            audioName.style.borderRadius = '5px';
            // mute function
            audioName.onclick = function () {
                wavesurfers[index].setMuted(!wavesurfers[index].getMuted());
                document.getElementById('waveform' + index).style.backgroundColor = wavesurfers[index]
                    .getMuted() ? 'lightgray' : 'white';
            };
            audioTrack.appendChild(audioName);
            // solo button
            audioSolo = document.createElement('button');
            audioSolo.innerHTML = 'Solo';
            // audioSolo.style.fontSize = '8px';
            audioSolo.style.marginLeft = '5px';
            audioSolo.style.marginRight = '5px';
            audioSolo.onclick = function () {
                wavesurfers_mute_state = wavesurfers.map(wavesurfer => wavesurfer.getMuted());
                // if only this track is soloed, then unsolo it
                if (wavesurfers_mute_state.every((mute_state, i) => (i === index) || mute_state) &&
                    wavesurfers_mute_state[index] === false) {
                    wavesurfers.forEach((wavesurfer, i) => {
                        wavesurfer.setMuted(false);
                        document.getElementById('waveform' + i).style.backgroundColor = 'white';
                    });
                } else {
                    wavesurfers.forEach((wavesurfer, i) => {
                        if (i === index) {
                            wavesurfer.setMuted(false);
                            audioTrack.style.backgroundColor = 'white';
                        } else {
                            wavesurfer.setMuted(true);
                            document.getElementById('waveform' + i).style.backgroundColor =
                                'lightgray';
                        }
                    });
                }
            };
            audioTrack.appendChild(audioSolo);
            audioTrack.style.display = 'flex';
            // audiometa.style.justifyContent = 'space-between';

            audioTrack.id = 'waveform' + index;
            document.getElementById('waveforms').appendChild(audioTrack);

            topTimeline = null;
            //if (index === 0) {
            //    // console.log(WaveSurfer)
            //    topTimeline = timeline.create({
            //        height: 10,
            //        insertPosition: 'beforebegin',
            //        timeInterval: 0.2,
            //        primaryLabelInterval: 10,
            //        secondaryLabelInterval: 5,
            //        style: {
            //            fontSize: '10px',
            //            color: '#2D5B88',
            //        },
            //    });
            //}
            wavesurfer = WaveSurfer.create({
                container: '#' + audioTrack.id,
                waveColor: '#9DC6FF',
                progressColor: '#4993FA',
                barWidth: 1,
                normalize: true,
                url: audioFile,
                //plugins: [
                //    topTimeline == null ? topTimeline : null,
                //],
                //minPxPerSec: 100,
                width: '1200',
                height: '50',
            });
            wavesurfers.push(wavesurfer);

            wavesurfer.on('decode', function () {
                document.getElementById('time').innerHTML = 'current time: ' + '0.000s' + ' / ' +
                    wavesurfers[index].decodedData.duration.toFixed(3) + 's';
            });
            wavesurfer.on('audioprocess', function () {
                document.getElementById('time').innerHTML = 'current time: ' + wavesurfers[0]
                    .getCurrentTime().toFixed(3) + ' / ' + wavesurfers[0].getDuration().toFixed(3) +
                    's';
            });
            wavesurfer.on('interaction', function () {
                document.getElementById('time').innerHTML = 'current time: ' + wavesurfers[0]
                    .getCurrentTime().toFixed(3) + ' / ' + wavesurfers[0].getDuration().toFixed(3) +
                    's';
            });
        });

        for (let i = 0; i < wavesurfers.length; i++) {
            wavesurfers[i].on('click', function () {
                currTime = wavesurfers[i].getCurrentTime();
                for (let j = 0; j < wavesurfers.length; j++) {
                    wavesurfers[j].setTime(currTime);
                }
            });
        }
    }

    playstop = () => {
        wavesurfers.forEach((wavesurfer) => {
            if (wavesurfer.isPlaying()) {
                wavesurfer.pause();
            } else {
                wavesurfer.play();
            }
        });
    };

    let id2node = {};

    function parseSelectedDir(selectedDir) {
        fetch(`/audio-files?dir=${encodeURIComponent(selectedDir)}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // 首先清除旧的波形显示
                document.getElementById('waveforms').innerHTML = '';
                wavesurfers = []; // 重置wavesurfers数组
                loadAudioTracks(data.audio_files);
                document.getElementById('dir').innerHTML = 'current dir: ' + data.directory;
            });
    }

    function parseall() {
        fetch(`/audio-files?dir=${encodeURIComponent(selectedDir)}&parseall=true`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // 首先清除旧的波形显示
                document.getElementById('waveforms').innerHTML = '';
                wavesurfers = []; // 重置wavesurfers数组
                loadAudioTracks(data.audio_files);
                document.getElementById('dir').innerHTML = 'current dir: ' + data.directory;
            });
    };

    function collapse(dir_id) {
        fetch(`/collapse?id=${encodeURIComponent(dir_id)}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                id2node = data;
                buildFileExplorer(0);
            });
    };

    function expand(dir_id) {
        fetch(`/expand?id=${encodeURIComponent(dir_id)}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                id2node = data;
                buildFileExplorer(0);
            });
    };

    // 定义一个函数用于构建文件资源管理器的UI，并处理目录选择
    // parse from root
    function buildFileExplorer(nodeid) {
        if (nodeid == 0) {
            // delete old node
            const fileExplorer = document.getElementById('file-explorer');
            fileExplorer.innerHTML = '';
        }
        const fileExplorer = document.getElementById('file-explorer');
        const filenode = id2node[nodeid];

        fileEntry = document.createElement('div');
        fileEntry.style.display = 'flex';
        fileName = document.createElement('div');
        fileName.style.whiteSpace = 'pre';
        fileNamePrefix = filenode.depth>0 ? '\t'.repeat(filenode.depth) + '├── ' : '';
        fileName.innerHTML = fileNamePrefix + filenode.name;
        fileName.style.marginRight = '10px';
        fileName.onclick = function () {
            parseSelectedDir(nodeid);
        };
        fileEntry.appendChild(fileName);
        if (filenode.hasChildren){
            fileName.style.cursor = 'pointer';
            fileExpand = document.createElement('button');
            fileExpand.innerHTML = 'expand';
            fileExpand.onclick = function () {
                console.log(nodeid);
                expand(nodeid);
            };
            fileEntry.appendChild(fileExpand);
        }
        fileExplorer.appendChild(fileEntry);
        //console.log(filenode.children);
        if (filenode.children != null && filenode.children.length > 0) {
            fileExpand.innerHTML = 'collapse';
            fileExpand.onclick = function () {
                console.log(nodeid);
                collapse(nodeid);
            };
            //console.log("why??");
            for (let i = 0; i < filenode.children.length; i++) {
                buildFileExplorer(filenode.children[i]);
            }
        }
    }

    // 获取文件结构
    fetch('/files')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            id2node = data;
            buildFileExplorer(0);
        });
</script>